{%  extends '../base.html' %}
{% block Content %}
    <div class="flex flex-col w-[90%] mx-auto my-4">
        <div class='md:flex mt-14 '>
            <div class="flex flex-col gap-y-5 w-[100%] md:w-[75%]">
                <div class="flex gap-x-4 items-center">
                    {% if job.job_thumbnail %}
                    <a  class="w-20 h-20 max-w-20 max-h-20 rounded-full overflow-hidden" href="{{job.job_thumbnail.url}}" target="_blank">
                        <img
                            src="{{job.job_thumbnail.url}}"
                            class="w-20 h-20 object-cover"
                            alt="Job Thumbnail"
                        />
                    </a>
                    {% else %}
                    <div class="h-20 max-w-20 max-h-20 rounded-full overflow-hidden flex items-center justify-center">
                        {{job.job_title | slice:":1"}}
                    </div>
                    {% endif %}
                    <div class="flex flex-col">
                        <h1 class="text-textColor font-bold">{{job.job_title}}</h1>
                        {% if job.company %}
                        <p class="text-gray-500 text-sm">At {{job.job_provider}}</p>
                        {% else %}
                            <p class="text-gray-500 text-xs">posted by: {{job.job_provider}}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="w-[100%]">
                    <h2 class="text-textColor font-bold text-2xl my-2">Job Description</h2>
                    <p class="text-gray-800 md:text-lg">{{job.job_description|linebreaks }}</p>
                </div>
            </div>
            <div class="flex flex-col gap-y-3 w-[100%] md:w-[20%] my-4 md:my-auto">
                <div class="border w-[100%] py-2 flex flex-row flex-wrap justify-evenly px-2 items-center justify-center rounded-lg bg-white">
                    <div class="flex flex-col">
                        <h2 class="text-xl text-textColor font-bold">salary({{job.currency}})</h2>
                        <div class="flex flex-row items-center gap-x-1">
                            <p class="text-textColor text-xs">{{job.currency}}</p>
                            <p class="text-textColor text-sm"> {{job.job_min_salary}} - </p>
                            <p class="text-textColor text-sm"> {{job.job_max_salary}} - </p>
                            <p class="text-textColor text-xs"> / Month</p>
                        </div>
                    </div>
                    <div class='h-[100%] bg-slate-300 w-1'></div>
                    <div class="flex flex-col">
                        <h2 class="text-xl text-textColor font-bold">Location</h2>
                        {% if job.job_location %}
                            <p>{{ job.job_location }}</p>
                        {% else %}
                            <p>Not specified</p>
                        {% endif %}
                    </div>
                </div>
                <div class="border w-[100%] py-2 flex flex-col md:flex-row justify-evenly px-2 items-center justify-center rounded-lg bg-white">
                    <div class="flex flex-col w-[100%] items-center">
                        <h2 class="text-xl text-textColor font-bold text-center">Job Overview</h2>
                        <div class="flex flex-row justify-evenly items-center w-[100%] gap-x-4 my-3">
                            <div class="flex flex-col items-center justify-center">
                                <ion-icon name="calendar"></ion-icon>
                                <div>
                                    <p class="text-xs text-textColor font-bold">JOB POST ON</p>
                                    <p class='text-sm'>{{job.created_at}}</p>
                                </div>
                            </div>
                            <div class="flex flex-col items-center justify-center">
                                <ion-icon name="alarm"></ion-icon>
                                <div>
                                    <p class="text-xs text-textColor font-bold">JOB EXPIRE</p>
                                    <p class='text-sm'>{{job.job_deadline}}</p>
                                </div>
                            </div>
                        </div>
                        <hr style="height:2px; width:90%;color:gray;background-color:gray;margin:auto; " />
                        <div class="flex flex-row items-center gap-x-2 self-center my-2">
                            <p class="text-textColor font-bold">Share</p>
                            <button class="text-white bg-blue-200 px-2 py-1 rounded-lg copy_link w-fit">Copy link</button>
                            <p class='copy_text text-xs text-primary'> </p>
                        </div>
                        
                </div>

                
            </div>
            <div class="border w-[100%] py-2 flex flex-row justify-evenly px-2 items-center justify-center rounded-lg bg-white">
                <div class="flex flex-col items-center">
                    <h2 class="text-xl text-textColor font-bold">Job Provider Contact</h2>
                    <div class="flex flex-row items-center text-center gap-x-1">
                        {% if job.job_contact %}
                            <p class="text-textColor font-bold">{{job.job_contact}}</p>
                        {% else %}
                            <p class="text-textColor font-bold">{{job.job_provider.phone_number}}</p>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock Content %}
{% block script %}
<script>
    // Copy link to clipboard
    $(document).ready(function(){
        $(".copy_link").click(function(){
            var link = window.location.href;
            navigator.clipboard.writeText(link);
            $(".copy_text").text("Link copied to clipboard");
        });
    })

    
</script>
{% endblock script %}
