{% extends '../base.html' %}
{% block Content %}
<div class="flex flex-col">
  <div class="flex flex-row">
    <div
      class="login_view1 w-[55%] min-h-screen bg-cover flex flex-col items-center justify-center gap-y-3"
    >
      <!-- Your Content here -->
      <h2 class="text-[3rem] font-bold text-primary">Kaz ni kaz</h2>
    </div>
    <div class="flex-1 bg-slate-100 flex flex-col items-center justify-center">
      <div class="w-[80%] mx-auto text-center flex flex-col gap-y-3 my-10">
        <h1 class="font-bold text-textColor text-[2.2rem]">Forgot Password</h1>
      </div>

      <form class="request_otp_form w-[80%] mx-auto flex flex-col gap-y-3 my-2">
        <div class="error text-orange-600 font-bold"></div>
        {% csrf_token %}
        <div class="flex flex-col gap-y-1 w-[98%] mx-auto">
          <label for="username">Enter Email</label>
          <input
            required
            type="email"
            name="email"
            placeholder="Enter Email"
            class="email w-[100%] py-2 rounded-md border-0 border-b-2 border-textColor outline-none px-3"
          />
        </div>

        <button
          type="submit"
          class="bg-primary text-white font-bold text-center w-[98%] mx-auto py-2 rounded-full"
        >
          Request Code
        </button>
      </form>

      {% comment %} OTP Verification {% endcomment %}
      <form
        class="hidden otp_form w-[80%] mx-auto flex items-center justify-center flex-col gap-y-3 gap-x-1 my-2 px-auto"
      >
        <p class="font-bold text-green-300">
          We have sent a verification code to your Email
        </p>
        <div class="flex items-center gap-x-1 justify-center otp_inputs">
          {% for i in "123456" %}
          <input
            name="otp_{{ forloop.counter }}"
            class="otp_input border w-[10%] border-textColor rounded-md py-2 px-2"
            maxlength="1"
          />
          {% endfor %}
        </div>
        <button
          type="submit"
          class="bg-primary text-white font-bold text-center w-[98%] mx-auto py-2 rounded-lg"
        >
          Verify Code
        </button>
      </form>

      <form
        class="New_password_form hidden flex flex-col gap-y-2 w-[80%] mx-auto bg-white rounded-lg py-2 items-center justify-center"
      >
        <div>
          <div>
            <label for="password">New Password</label>
            <input
              required
              type="password"
              name="password"
              placeholder="Enter New Password"
              class="password w-[100%] py-2 rounded-md border-0 border-b-2 border-textColor outline-none px-3"
            />
          </div>
          <div>
            <label for="conf_password">Confirm Password</label>
            <input
              required
              type="password"
              name="conf_password"
              placeholder="Enter New Password"
              class="conf_password w-[100%] py-2 rounded-md border-0 border-b-2 border-textColor outline-none px-3"
            />
          </div>
          <span id="password_strength"></span>
          <div class="flex flex-row gap-x-2 items-center">
            <input type="checkbox" id="show_password" />
            <label for="show_password" class="text-textColor">Show Password</label>
          </div>
          <button
            type="submit"
            class="bg-primary text-white font-bold text-center w-[98%] mx-auto py-2 rounded-full"
          >
            Reset Password
          </button>
        </div>
      </form>

      <div class="flex flex-row gap-x-2 items-center my-3">
        <p class="text-textColor font-semibold">Already have an Account?</p>
        <a href="{% url 'login' %}" class="text-primary font-bold">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock Content %}

{% block script %}
<script>
  $(document).ready(function () {
    // Handle OTP request form submission
    $(".request_otp_form").on("submit", function (e) {
      e.preventDefault();
      const email = $(".email").val();
      $(".error").empty(); // Clear previous errors

      $.ajax({
        method: "POST",
        url: "{% url 'otp_request' %}",
        data: { email: email },
        beforeSend: function () {
          $(".request_otp_form button[type='submit']")
            .text("Requesting...")
            .prop("disabled", true);
        },
        success: function (response) {
          $(".request_otp_form button[type='submit']")
            .text("Request Code")
            .prop("disabled", false);

          if (response.success) {
            localStorage.setItem("reset_email", email);
            $(".request_otp_form").addClass("hidden");
            $(".otp_form").removeClass("hidden");
          } else {
            $(".error").text(response.detail);
          }
        },
        error: function (error) {
          $(".request_otp_form button[type='submit']")
            .text("Request Code")
            .prop("disabled", false);
          $(".error").text("An error occurred. Please try again.");
          //console.log(error);
        },
      });
    });

    // Handle OTP verification form submission
    $(".otp_form").on("submit", function (e) {
      e.preventDefault();
      let otp = "";

      // Concatenate OTP input values
      $(".otp_input").each(function () {
        otp += $(this).val();
      });

      if (otp.length !== 6) { // Ensure OTP has 6 digits
        $(".error").text("Please enter the 6-digit OTP code.");
        return;
      }

      $.ajax({
        method: "POST",
        url: "{% url 'verify_otp' %}",
        data: { otp: otp },
        beforeSend: function () {
          $(".otp_form button[type='submit']")
            .text("Verifying...")
            .prop("disabled", true);
        },
        success: function (response) {
          //console.log(response);
          if (response.success) {
            localStorage.setItem("otp_code", otp);
            $(".otp_form").addClass("hidden");
            $(".New_password_form").removeClass("hidden");
            $(".error").text("");
          } else {
            $(".error").text(response.detail);
          }
          $(".otp_form button[type='submit']").text("Verify Code").prop("disabled", false);
        },
        error: function (error) {
          $(".error").text("An error occurred. Please try again.");
          //console.log(error);
          $(".otp_form button[type='submit']").text("Verify Code").prop("disabled", false);
        },
      });
    });

    // Automatically focus the next input when a user enters a number
    $(".otp_input").on("keyup", function (e) {
      if (this.value.length == this.maxLength) {
        $(this).next(".otp_input").focus();
      }
    });

    // Toggle password visibility
    $("#show_password").on("change", function () {
      const passwordField = $(".password");
      const confirmPasswordField = $(".conf_password");

      if ($(this).is(":checked")) {
        passwordField.attr("type", "text");
        confirmPasswordField.attr("type", "text");
      } else {
        passwordField.attr("type", "password");
        confirmPasswordField.attr("type", "password");
      }
    });

    // Handle new password form submission
    $(".New_password_form").on("submit", function (e) {
      e.preventDefault();
      let password = $(".password").val();
      let confirm_password = $(".conf_password").val();
      let otp_code = localStorage.getItem("otp_code");
      let email = localStorage.getItem("reset_email"); // Corrected typo here

      // Validate password strength
      if (password !== confirm_password) {
        $(".error").text("Passwords do not match.");
        return;
      }

      $.ajax({
        method: "POST",
        url: "{% url 'reset_password' %}",
        data: { new_password: password, otp_code: otp_code, email: email },
        beforeSend: function () {
          $(".New_password_form button[type='submit']")
            .text("Updating...")
            .prop("disabled", true);
        },
        success: function (response) {
          
          $(".New_password_form button[type='submit']")
            .text("Reset Password")
            .prop("disabled", false);
          if (response.success) {
            $(".New_password_form").addClass("hidden");
            $(".request_otp_form").removeClass("hidden");
            $(".error").text("");
            localStorage.removeItem("otp_code"); // Clear sensitive data
            localStorage.removeItem("reset_email");
            alert("Password reset successfully.");
            // Redirect to login page after successful password reset
            window.location.href = "{% url 'login' %}";
          } else {
            $(".error").text(response.detail);
          }
        },
        error: function (error) {
          $(".error").text("An error occurred. Please try again.");
          //console.log(error);
          $(".New_password_form button[type='submit']")
            .text("Reset Password")
            .prop("disabled", false);
        },
      });
    });
  });
</script>
{% endblock script %}
