{% extends "../base.html" %}
{% block Content %}
    <div class="flex flex-col w-[90%] py-7 mt-14 mx-auto">
        <h1 class="text-textColor font-bold  text-center ">At Kaz ni Kaz, your security is our priority. To ensure a safe marketplace, we require KYC verification for creating shops or making transactions. This includes submitting your National ID and a photo of you holding it. These steps help us verify your identity, prevent fraud, and maintain a trusted platform for all users. </h1>
        <form method="POST" enctype="multipart/form-data" action="{% url 'verify' %}" class="bg-white px-2 flex flex-col rounded-lg py-2 w-[100%] md:w-[70%] my-4 mx-auto my-8 md:my-10 gap-y-3">
            {% csrf_token %}
            <h2 class="text-textColor font-bold text-xl">Personal Information</h2>
            {% if not request.user.phone_number %}
                <input type="text" nam="phone_number" required class="w-[100%] py-2 px-2 bg-transparent border rounded-md" placeholder="Enter Phone Number" />
            {% endif %}
            {% if not request.user.email %}
                <input type="text" name="email" required class="w-[100%] py-2 px-2 bg-transparent border rounded-md" placeholder="Enter Email" />
            {% endif %}
            <input type="text" class="w-[100%] py-2 px-2 bg-transparent border rounded-md" placeholder="Enter Id/Passport Number" name="id_no" />
            <div>
                <label>Add Id/Passport Picture</label>
                <input type="file" class="w-[100%] py-2 px-2 bg-transparent border rounded-md" placeholder="Enter Id/Passport Number" name="id_card" />
                
            </div>
            <div>
                <label>Add Selfie Picture</label>
                <input type="file" class="w-[100%] py-2 px-2 bg-transparent border rounded-md" placeholder="Enter Id/Passport Number" name="selfie" />
            </div>
            
            <button type="submit" class='w-[100%] bg-primary py-2 items-center text-white rounded-md'>Request For Verification</button>
        </form>

    </div>
{% endblock Content %}