{% extends '../base.html' %} {% block Content %}
<div class="flex flex-row w-[80vw] gap-x-2 mx-auto">
    {% if related_categories %}
    <div class="w-[20%] h-fit pb-2 max-h-[60vh] overflow-y-scroll scrollbar-hidden bg-white">
        <div class="bg-primary py-3 w-[100%] items-center justify-center rounded-md">
            <h2 class="font-bold text-white text-center">Related Categories</h2>
        </div>

        <div class="gap-y-2 px-2">
            {% for category in related_categories %}
            <div class="py-1 category hover:bg-slate-200">
                <a href="{% url 'category' category.id %}" class="">{{ category.name }}</a>
                {% if category.getCategoryChildren %}
                <div
                    class="absolute left-[20%] w-fit max-w-[40%] flex flex-row flex-wrap px-3 rounded-md bg-white z-[50]">
                    {% for children in category.getCategoryChildren %}
                    <div class="children ml-5 gap-y-1 my-1 px-2 rounded-md py-2 bg-slate-300 hover:bg-primary">
                        <a href="{% url 'category' category.id %}" class="text-black font-bold">{{children.name}}</a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="category_features mx-2">
            <input type="hidden" id="choosen_category" value={{category.id}} />
            {% if features %}
                {% for feature in features %}
                    <div class="text-primary font-bold">
                        {{feature.name}}
                    </div>
                    {% if feature.featureOptions %}
                    <ul class="ml-4">
                        <div>
                            <input type="radio" name="{{feature.id}}" value=""  class="feature-option" />
                            <label class="text-sm font-normal text-textColor">Clear</label>
                        </div>
                        {% for option in feature.featureOptions %}
                        <li>

                            <input type="radio" name="{{feature.id}}" value="{{option.id}}" class="feature-option" />
                            <label class="text-sm font-normal text-textColor">{{option.name}}</label>
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}            
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="flex-1">
        {% if products %}
        <div class="flex flex-row gap-x-4 items-center">
            <ion-icon name="funnel" style="font-size: 30px;"></ion-icon>
            <div class="flex flex-col gap-y-2">
                <div class="flex items-center gap-x-3">
                    <div>Currency</div>
                    <select name="Currency" id="" class="currency py-2 px-3 rounded-md bg-slate-200">
                        <option value="RWF">RWF</option>
                        <option value="USD">USD</option>
                    </select>

                    <div>
                        <input type="number" name="min" placeholder="Min" class="min py-2 px-2 min-w-7 rounded-md bg-slate-200">
                        <input type="number" name="max" placeholder="Max" class="max py-2 px-2 min-w-7 rounded-md bg-slate-200">
                    </div>
                </div>
            </div>

            <hr class="h-3 w-[70%] bg-slate-200" style="width: max-content;height: 2px; background-color: red; " />
        </div>
        <div class="product_view flex-1 grid grid-cols-5 gap-2">
            {% for product in products %}
                    <div
                style="background-color: rgba(0, 0, 0, 0.1);"
                class="flex flex-col relative rounded-lg max-w-[100%] h-fit overflow-hidden px-2 transition-all duration-5000"
            >
                <a href="{% url 'single_product' product.id %}">
                {% if product.thumbnail %}
                <img
                    src="{{product.thumbnail.url}}"
                    class="w-[100%] h-[20vh] object-cover hover:scale-110 transition-all duration-5000"
                    alt=""
                />
                {% else %}
                <div
                    class="w-[100%] h-[20vh] flex flex-col items-center justify-center"
                >
                    {{product.name}}
                </div>
                {% endif %}
                <div
                    class="absolute z-50 top-3 right-3 px-3 py-2 rounded-md"
                    style="background-color: rgba(0, 0, 0, 0.4);"
                >
                    <p class="text-white font-semibold">
                    {{product.category.name}}
                    </p>
                </div>
                <p class="text-lg italic mt-3">{{product.name}}</p>
                <div class="flex flex-row items-center mb-3">
                    <ion-icon name="clock"></ion-icon>
                    <p class="text-gray-500 text-sm">{{ product.created_at }}</p>
                </div>
                <hr
                    class="w-[80%]"
                    style="color: gray; background-color: gray; height: 3px;"
                />
                <div
                    class="my-2 mt-3 py-3 flex flex-row items-center w-[100%] justify-evenly px-2 gap-y-2"
                >
                    <div class="flex flex-row items-center gap-x-2">
                    <ion-icon
                        name="pricetags"
                        style="font-size: 23px;"
                    ></ion-icon>
                    <p class="text-gray-500 text-md font-bold">
                        {{ product.price }} {{ product.currency }}
                    </p>
                    </div>
                    <div class="flex gap-x-2 flex-row">
                    <a
                        href="https://wa.me/{{product.uploader.phone_number}}"
                        target="_blank"
                        class="py-1 px-6 flex flex-col items-center justify-center rounded-lg bg-[#25D366]"
                    >
                        <ion-icon
                        style="color: white; font-size: 17px;"
                        name="logo-whatsapp"
                        ></ion-icon>
                    </a>
                    <a
                        href="tel:{{ product.uploader.phone_number }}"
                        target="_blank"
                        class="py-1 px-6 flex flex-col items-center justify-center rounded-lg bg-[#212d5e]"
                    >
                        <ion-icon
                        style="color: white; font-size: 17px;"
                        name="call"
                        ></ion-icon>
                    </a>
                    </div>
                </div>
                </a>
                {% if product.discount %}
                <div class="absolute top-3 left-3 z-50 text-primary font-bold px-4 rounded-md flex flex-col items-center" style="background-color: rgba(0, 0, 0, 0.7);">
                    {{product.discount}} %
                </div>
                {% endif %}
            </div>
            {% endfor %}

        </div>
        <div class="pagination">
            <span class="step-links">
                {% if products.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ products.previous_page_number }}">previous</a>
                {% endif %}

                {% for num in products.paginator.page_range %}
                    {% if products.number == num %}
                        <strong class="text-primary">{{ num }}</strong> <!-- Current page highlighted -->
                    {% else %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">next</a>
                <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% else %}
    <p class="text-center">No Product filtered for this Category</p>
    {% endif %}
</div>
</div>

{% endblock Content %}
{% block script %}
    <script>
        $(document).ready(function() {
            const category_id=$("#choosen_category").val();
            $(document).on('change','.feature-option',function(e) {
                e.preventDefault();
                const optionId = $(this).val();
                var data;
                if(!optionId) {
                    data={category_id:category_id};
                }
                else {
                    data = {option_id: optionId,category_id:category_id};
                }
                $('.product_view').html(`<p>Loading ...</p>`);
                $.ajax({
                    url: "{% url 'filter_product' %}",
                    type: "GET",
                    data:data,
                    success: function(response){
                        
                        $('.product_view').html(response);
                    },
                    error: function(error){
                        //console.log(error);
                    }
                });
            });
            $(document).on('keyup','.max','.min',function(e){
                e.preventDefault();
                var max=$(this).val();
                var min=$('.min').val();
                var currency=$('.currency').val();
                
                var data={min:min,max:max,category_id:category_id,currency:currency};
                if(min > 0  ){
                    $('.product_view').html(`<p>Loading ...</p>`);
                    $.ajax({
                    url: "{% url 'minmax_filter' %}",
                    type: "GET",
                    data:data,
                    success: function(response){
                        //console.log(response);
                        $('.product_view').html(response);
                    },
                    error: function(error){
                        //console.log(error);
                    }
                });
                }
                
            })

        });
    </script>
{% endblock script %}