{% extends '../base.html' %} {% block Content %}
<div class="flex flex-col w-[80vw] mx-auto">
  <div
    class="flex flex-row gap-x-2 w-[100%] max-h-[52vh] overflow-y-scroll scrollbar-hidden"
  >
    <!-- first div -->
    <div
      class="flex flex-col gap-y-2 min-w-[18vw] max-h-[50vh] overflow-y-scroll scrollbar-hidden"
    >
      {% for image in product_images %}
      <div class="w-[14vw] h-[15vh] cursor-pointer">
        <img
          src="{{image.image.url}}"
          alt="{{image.product.name}}"
          class="w-[14vw] h-[15vh] product_image"
        />
      </div>
      {% endfor %}
    </div>
    <!-- Second Div -->
    <a
      href="{{product.thumbnail.url}}"
      target="_blank"
      class="transition-all thumbnail duration-1000 w-[40vw] h-[50vh] border border-textColor min-h-[50vh] min-w-[40vw] max-h-[50vh] max-w-[40vw] overflow-hidden flex flex-col items-center justify-center bg-slate-100 rounded-md"
    >
      <img
        src="{{product.thumbnail.url}}"
        class="w-[38vw] h-[48vh] min-h-[48vh] min-w-[38vw] product_thumbnail object-contain object-fit"
        alt=""
      />
    </a>
    <!-- Third Div -->
    <div
      class="flex flex-col gap-y-2 max-h-[50vh] overflow-y-scroll scrollbar-hidden"
    >
      <h1 class="text-[1.1rem ] text-textColor font-bold">{{product.name}}</h1>
      <div
        class="flex items-center gap-x-2 border py-2 px-4 border-text-color hover:scale-125 rounded-md hover:bg-white w-fit"
      >
        <h1 class="text-primary font-bold text-lg">Price:</h1>
        <div class="flex flex-row items-center">
          {{product.price}} {{product.currency}}
        </div>
      </div>

      {% if product_features %}
      <div class="flex flex-col gap-y-2">
        <h2 class="font-bold text-2xl text-primary">Specifications</h2>
        <div class="flex flex-row gap-2 flex-wrap">
          {% for feature in product_features %}
          <div
            class="flex flex-row justify-between px-2 w-fit py-2 gap-x-1 rounded-md hover:bg-primary text-white bg-textColor items-center"
          >
            <p class="font-bold">{{feature.feature.name}}:</p>
            <p>{{feature.option.name}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <div
        class="flex flex-row flex-wrap justify-evenly gap-y-2 my-2 text-start items-center border border-textColor border-dashed py-2 rounded-lg"
      >
        <h3 class="text-textColor text-start font-bold underline">
          Connect With Product Owner
        </h3>
        {% if product.uploader.phone_number %}
        <a
          class="bg-[#25d366] rounded-lg py-2 flex items-center justify-center text-center w-[40%]"
          href="https://wa.me/{{product.uploader.phone_number}}"
          target="_blank"
        >
          <ion-icon
            style="color: white; font-size: 20px;"
            name="logo-whatsapp"
          ></ion-icon>
        </a>
        {% endif %}

        <a
          class="bg-primary py-2 text-center w-[40%] rounded-lg flex items-center justify-center"
          href=""
        >
          <i
            class="fa-brands fa-rocketchat"
            class="text-primary text-2xl"
            style="color: white; font-size: 20px;"
          ></i>
        </a>
      </div>
      <div class="flex flex-col gap-y-2">
        <h2 class="font-bold text-2xl text-primary">Description</h2>
        <p class="text-sm text-textColor">{{product.description}}</p>
      </div>
    </div>
  </div>
  <!-- Section OF uploader -->
  <div class="flex flex-col py-2 px-2 my-3">
    <div class="flex flex-row gap-x-2">
      <!-- First Div -->
      <div class="flex flex-col gap-y-2 min-w-[18vw] w-[18vw]">
        <div class="border border-textColor pb-2 rounded-lg overflow-hidden">
          <div class="bg-gray-200 py-2 text-center">
            <h2 class="font-bold">Seller Info</h2>
          </div>
          <div
            class="text-center flex flex-row items-center my-2 mx-3 gap-x-2 w-[100%]"
          >
            {% if product.uploader.profile %}
            <a
              href="{{product.uploader.profile.url}}"
              target="_blank"
              class="w-28 h-28 max-w-28 max-h-28 rounded-full overflow-hidden"
            >
              <img
                src="{{product.uploader.profile.url}}"
                alt="{{seller.user.username}}"
                class="w-28 h-28 object-cover"
              />
            </a>

            {% endif %}
            <div class="flex flex-col">
              <p class="font-bold text-sm">{{product.uploader.username}}</p>
              <p class="text-xs text-textColor">
                {{product.uploader.phone_number}}
              </p>
              <p class="text-xs text-textColor">{{product.uploader.email}}</p>
              <p class="text-xs text-textColor">
                {% if product.uploader.verified %}
                <span class="text-green-500 font-bold">Verified</span>
                {% else %}
                <span class="text-gray-500">Not verified</span>
                {% endif %}
              </p>
            </div>
          </div>
          <div class="flex flex-row flex-wrap justify-evenly">
            {% if product.uploader.phone_number %}
            <a
              class="bg-[#25d366] rounded-lg py-2 flex items-center justify-center text-center w-[40%]"
              href="https://wa.me/{{product.uploader.phone_number}}"
              target="_blank"
            >
              <ion-icon
                style="color: white; font-size: 20px;"
                name="logo-whatsapp"
              ></ion-icon>
            </a>
            {% endif %}

            <a
              class="bg-primary py-2 text-center w-[40%] rounded-lg flex items-center justify-center"
              href=""
            >
              <i
                class="fa-brands fa-rocketchat"
                class="text-primary text-2xl"
                style="color: white; font-size: 20px;"
              ></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Second Div -->
      {% if related_products %}
      <div>
        <h2 class="font-bold text-2xl text-primary">Related Products</h2>
        <div class="grid grid-cols-4 gap-2 flex-wrap">
          {% for product in related_products %}
          <div
            style="background-color: rgba(0, 0, 0, 0.1);"
            class="flex flex-col relative rounded-lg max-w-[100%] h-fit overflow-hidden px-2"
          >
            <a href="{% url 'single_product' product.id %}">
              {% if product.thumbnail %}
              <img
                src="{{product.thumbnail.url}}"
                class="w-[100%] h-[20vh] object-cover"
                alt=""
              />
              {% else %}
              <div
                class="w-[100%] h-[20vh] flex flex-col items-center justify-center"
              >
                {{product.name}}
              </div>
              {% endif %}
              <div
                class="absolute z-50 top-3 right-3 px-3 py-2 rounded-md"
                style="background-color: rgba(0, 0, 0, 0.4);"
              >
                <p class="text-white font-semibold">
                  {{product.category.name}}
                </p>
              </div>
              <p class="text-lg italic mt-3">{{product.name}}</p>
              <div class="flex flex-row items-center mb-3">
                <ion-icon name="clock"></ion-icon>
                <p class="text-gray-500 text-sm">{{ product.created_at }}</p>
              </div>
              <hr
                class="w-[80%]"
                style="color: gray; background-color: gray; height: 3px;"
              />
              <div
                class="my-2 mt-3 py-3 flex flex-row items-center w-[100%] justify-evenly px-2 gap-y-2"
              >
                <div class="flex flex-row items-center gap-x-2">
                  <ion-icon
                    name="pricetags"
                    style="font-size: 23px;"
                  ></ion-icon>
                  <p class="text-gray-500 text-md font-bold">
                    {{ product.price }} {{ product.currency }}
                  </p>
                </div>
                <div class="flex gap-x-2 flex-row">
                  <a
                    href="https://wa.me/{{product.uploader.phone_number}}"
                    target="_blank"
                    class="py-1 px-6 flex flex-col items-center justify-center rounded-lg bg-[#25D366]"
                  >
                    <ion-icon
                      style="color: white; font-size: 17px;"
                      name="logo-whatsapp"
                    ></ion-icon>
                  </a>
                  <a
                    href="tel:{{ product.uploader.phone_number }}"
                    target="_blank"
                    class="py-1 px-6 flex flex-col items-center justify-center rounded-lg bg-[#212d5e]"
                  >
                    <ion-icon
                      style="color: white; font-size: 17px;"
                      name="call"
                    ></ion-icon>
                  </a>
                </div>
              </div>
            </a>
          </div>
          {% endfor %} {% endif %}
        </div>
      </div>
    </div>
    {% endblock Content %}
  </div>
</div>

{% block script %}
<script>
  $(document).ready(function () {
    $(".product_image").on("mouseover", function () {
      $(".product_thumbnail").attr("src", $(this).attr("src"));
      $(".thumbnail").attr("href", $(this).attr("src"));
      console.log($(this).attr("src"));
    });
  });
</script>
{% endblock script %}
